/*? FONT
font-family: 'Press Start 2P', cursive;
*/

body {
  user-select: none;
  background-color: #000;
}

button,
button:active,
button:focus {
  outline: none;
}

.game {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
  width: 1280px;
  height: 60px;
  background-color: #277620;
}

.score,
.record {
  width: 450px;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
}

#isChoisedCpty,
.backTo,
.startBtn,
.pauseBtn,
.settingsBtn,
.main_menu-btn-сontinue,
.main_menu-btn-newGame,
.main_menu-btn-settings,
.main_menu-btn-statistics {
  font-family: 'Press Start 2P', cursive;
  color: #277620;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 12px 15px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: background-color .2s linear;
}

#isChoisedCpty:hover,
.backTo:hover,
.startBtn:hover,
.settingsBtn:hover,
main_menu-btn-сontinue:hover,
main_menu-btn-newGame:hover,
main_menu-btn-settings:hover,
main_menu-btn-statistics:hover {
  background-color: rgba(255, 255, 255);
}

.pause {
  background-color: red;
  color: #fff;
}

.pauseBtn:hover {
  background-color: red;
  color: #fff;
}

.main_menu {
  position: relative;
  /* background-image: url('../img/ main_menu.png'); */
  background-color: #277620;
  background-repeat: no-repeat;
  background-position: center;
  width: 1280px;
  height: 640px;
}

.settings,
.main_menu-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #277620;
  border-radius: 15px;
  width: 258px;
  height: 321px;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.main_menu-btn button:not(:first-child) {
  margin-top: 15px;
}

.main_menu-btn button {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}

.main_menu-btn button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.version {
  background: #fff;
  color: #000;
  font-size: 22px;
  position: absolute;
  bottom: 0;
  padding: 8px;
  margin-left: 32px;
  margin-bottom: 32px;
  font-weight: 800;
  align-self: flex-start;
  border-radius: 15px;
  text-decoration: none;
}

.settings {
  padding: 25px;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 15px;
  width: 578px;
  border: none;
  display: flex;
  justify-content: space-between;
}

.changeWindowsColor {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 10px;
  margin-left: 2px;
  display: flex;
  justify-content: space-between;
}

.complexity {
  display: flex;
  flex-direction: column;
}

.complexity span:not(:first-child):hover {
  cursor: pointer;
}

.easy {
  margin-top: 10px;
  margin-bottom: 5px;
}

.complexity span~.choised {
  color: greenyellow;
}

.backTo {
  width: 120px;
}