/*? FONT
font-family: 'Press Start 2P', cursive;
*/

body {
  user-select: none;
  background-color: #000;
}

canvas {
  background-color: #000;
}

button,
button:active,
button:focus {
  outline: none;
}

.game {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
  width: 1280px;
  height: 60px;
  background-color: #277620;
}

.score {
  width: 450px;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
}

.startBtn,
.pauseBtn,
.settingsBtn,
.main_screen-btn-сontinue,
.main_screen-btn-newGame,
.main_screen-btn-settings,
.main_screen-btn-statistics {
  font-family: 'Press Start 2P', cursive;
  color: #277620;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 12px 15px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: background-color .2s linear;
}

.startBtn:hover,
.pauseBtn:hover,
.settingsBtn:hover,
.main_screen-btn-сontinue:hover,
.main_screen-btn-newGame:hover,
.main_screen-btn-settings:hover,
.main_screen-btn-statistics:hover {
  background-color: rgba(255, 255, 255);
}

.pause {
  background-color: red;
  color: #fff;
}

.pause:hover {
  background-color: red;
  color: #fff;
}

.main_screen {
  position: relative;
  background-image: url('../img/main_screen.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 1280px;
  height: 640px;
}

.main_screen-btn {
  background-color: rgba(39, 116, 32, 0.8);
  border: 2px solid #277620;
  width: 258px;
  height: 321px;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.main_screen-btn button:not(:first-child) {
    margin-top: 15px;
}

.main_screen-btn button {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}

.main_screen-btn button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.version {
  background: #fff;
  color: #000;
  font-size: 22px;
  position: absolute;
  bottom: 0;
  padding: 5px;
  padding-right: 4px;
  margin-left: 32px;
  margin-bottom: 32px;
  font-weight: 800;
  align-self: flex-start;
}